configure~
autom4te.cache
.cargo/config.toml
src/Makevars
src/Makevars.win
src/*-wrappers.R
src/rust/Cargo.toml
src/rust/document.rs
src/entrypoint.c

# Built artifacts
src/*.o
src/*.so
src/*.dll

# rust
src/rust/ra_target
src/rust/target

# Vendor compression stamp file
inst/.vendor.tar.xz.cksum

# Intermediary files from configure.ac
src/.vendor-tarball-staging/
